.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  background-color: #262424;
  align-items: center;
}

.images
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
img{
  height: 50px;
  width: 50px;
  margin-top: 0%;
}
.header div{
  color: white;
}
.login
{
  border-radius: 10px;
  padding: 10px;
  background-color: #262424;
  color: white;
  border: 1px solid white;
}
.hover:hover
{
color: #746d6d;
}
.login:hover
{
  color: #746d6d;
  border: 1px solid #746d6d;
}
.courses
{
  border-radius: 10px;
  padding: 10px;
  background-color: #262424;
  color: white;
  border: 1px solid white;
}
.courses:hover
{
  color: #746d6d;
  border: 1px solid #746d6d;
}